<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Made up show/movie</title>
</head>

<body>
  <h1>Playground</h1>
  <div id="app">
    <ul v-if="characters.length">
      <li v-for="character in characters">{{ character.name }}
        <button @click="character.fav = !character.fav">Favorite?</button>
      </li>
    </ul>
    <ul v-else>
      <li>No characters found</li>
    </ul>

    <ul v-for="character in characters">
      <li v-if="character.fav">Favorite: {{ character.name }}</li>
    </ul>
    <h2>Add a character</h2>
    <form>
      <label for="name">Name: </label>
      <input id="name" type="text" />
      <button @click="addCharacter">Submit</button>
    </form>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data() {
        return {
          message: 'Hello Vue!',
          characters: [
            { name: 'Luke Skywalker', fav: false, },
            { name: 'Darth Vader', fav: false, },
            { name: 'Han Solo', fav: false, },
            { name: 'Leia Organa', fav: false, },
          ]
        };
      },
      methods: {
        addCharacter(event) {
          event.preventDefault();
          this.characters.push({
            name: event.target.form[0].value,
          });
        }
      }
    });

    app.mount('#app');
  </script>
</body>

</html>
