<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Playground — Complete Intro to Vue 3</title>
</head>

<body>
  <h1>Playground</h1>
  <div id="app">
    <h1>Counter</h1>
    <p>Counter: {{ count }}</p>
    <!-- <button @click="count++">Increment Count</button> -->
    <!-- <button @click="incrementCount">Increment Count</button> -->
    <button v-on:click="incrementCount">Increment Count</button>
    <div>
      <label for="increment amount">Increment amount</label>
      <!-- <input type="number" id="increment amount" v-model.number="incrementAmount" /> -->
      <input type="number" id="increment amount" v-model="incrementAmount" />
      <!-- <input type="number" id="increment amount" v-bind:value="incrementAmount" v-on:input="changeIncrementAmount" /> -->
    </div>
    <hr>

    <p v-if="message.length % 2 == 0">Even: {{ message }}</p>
    <p v-else>Odd: {{ message }}</p>
    <ul>
      <li v-for="num in listOfNumbers">{{ num }}</li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;
    const app = createApp({
      data() {
        return {
          message: 'Hello Vue!',
          listOfNumbers: [1, 2, 3, 4, 5],
          count: 0,
          incrementAmount: 1,
        };
      },
      methods: {
        // changeIncrementAmount(event) {
        //   this.incrementAmount = Number(event.target.value);
        // },
        incrementCount() {
          this.count += this.incrementAmount;
        }
      }
    });

    app.mount('#app');
  </script>
</body>

</html>
